<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    <section id="checkout" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Checkout</label>
        <tab>sales</tab>
        <resource>Magento_Checkout::checkout</resource>
        <group id="state_filter" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Allowed US States in Checkout</label>
            <field id="us_state_filter" translate="label comment" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label>Allowed US States in Checkout </label> <source_model>ChuWu\CustomerState\Model\Config\Region\RegionInformationProvider</source_model>
            </field>
        </group>
    </section>
    </system>
</config>
